# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual Environment
venv/
env/
ENV/

# Model files (if you want to exclude them)
*.pkl

# Compressed data files (if you want to include them, remove these lines)
*.gz
